@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: "Inter Tight", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}